.header {
  position : relative;
  z-index  : 2;
  display  : grid;

  // .header__inner
  &__inner {
    display         : flex;
    min-height      : 140px;
    justify-content : space-between;

  }

  // .header__content
  &__content {
    display         : flex;
    flex-wrap       : wrap;
    justify-content : space-between;
    margin-left     : 17px;
    position        : relative;
    padding         : 20px 0 40px;
    align-items     : flex-start;

  }

  // .header__search
  &__search {
    width     : 100%;
    max-width : 329px;
  }

  // .header__auth
  &__auth {
    display     : flex;
    align-items : center;

    &::before {
      content          : '';
      width            : 11px;
      height           : 14px;
      background-image : url(../../img/i-auth.svg);
      margin-right     : 5px;
    }
  }

  // .header__basket
  &__basket {
    margin-top : -4px;
  }


  // .header__phones
  &__phones {
    width           : 100%;
    max-width       : 340px;
    display         : flex;
    justify-content : space-between;
    margin-top      : 7px;
  }

  // .header__nav
  &__nav {
    margin-top : 7px;
  }

  // .header__main-menu
  &__main-menu {
  }

  // .header__catalog
  &__catalog {

    position : absolute;
    bottom   : 0;
    left     : -17px;
    right    : calc(-100vw);
  }

  // .header__logo
  &__logo {
    background-color : #ed621f;
    width            : 188px;
    height           : 140px;
    display          : flex;
    align-items      : center;
    flex             : 0 0 auto;

  }

}


.basket-block {
  display : flex;

  // .basket-block__link
  &__link {
    display      : flex;
    align-items  : center;

    margin-right : 18px;

    &:last-child {
      margin-right : 0;
    }

    &::before {
      content      : '';
      margin-right : 5px;
    }

    // .basket-block__link--basket
    &--basket {
      &::before {
        width            : 17px;
        height           : 19px;
        background-image : url(../../img/i-basket.svg);
      }
    }

    // .basket-block__link--favorite
    &--favorite {
      &::before {
        width            : 13px;
        height           : 19px;
        background-image : url(../../img/i-favorite.jpg);
      }
    }
  }

}


.logo {


  // .logo__image
  &__image {
    img {

    }
  }
}


.search-block {
  position  : relative;
  font-size : 12px;

  // .search-block__field
  &__field {
    border-bottom : 2px solid #54585d;
    padding-left  : 20px;
    width         : 100%;
    line-height   : 17px;
  }

  // .search-block__btn
  &__btn {
    text-indent         : -9999px;
    position            : absolute;
    background-image    : url(../../img/i-search.svg);
    background-repeat   : no-repeat;
    background-color    : transparent;
    background-position : center;
    width               : 15px;
    height              : 16px;
    left                : 0;
  }
}


.auth-block {
  font-size : 13px;


  // .auth-block__link
  &__link {
  }
}

.basket-block {
  font-size : 13px;
}

.basket-link {
  // .basket-link__count
  &__count {
    border-radius    : 50%;
    background-color : #ed621f;
    color            : #fff;
    width            : 24px;
    height           : 24px;
    display          : flex;
    align-items      : center;
    justify-content  : center;
    margin-left      : 5px;
    line-height      : 1;
  }
}

.phones-block-v1 {
  // .phones-block-v1__item
  &__item {
    font-size : 18px;
  }
}

.main-menu {
  display         : flex;
  justify-content : space-between;
  margin          : 0 -5px;

  // .main-menu__item
  &__item {
    margin : 0 5px;
  }

  // .main-menu__link
  &__link {
    font-size       : 14px;
    text-decoration : underline;
    line-height     : 1.2;

    &:hover,
    &:active,
    &:focus {
      text-decoration : none;
    }
  }
}

.top-catalog {
  background-color : #36393a;
  display          : flex;
  padding          : 8px 15px;


  // .top-catalog__item
  &__item {
    margin-right : 30px;

    &:last-child {
      margin-right : 0
    }
  }

  // .top-catalog__link
  &__link {
    color           : #fff;
    font-size       : 16px;
    text-transform  : uppercase;
    letter-spacing  : 0.16px;
    text-decoration : none;
    align-items     : center;

    &::before {
      content          : '';
      margin-right     : 8px;
      height           : 10px;
      display          : inline-block;
      background-image : url(../../img/i-burger.svg);
      min-width        : 9px;
    }
  }
}
