.sidebar {
  margin-right : 12px;
  max-width    : 154px;

  // .sidebar__nav
  &__nav {
  }

  // .sidebar__catalog-menu
  &__catalog-menu {
    margin-top : 120px;
  }
}

.catalog-menu {
  font-size : 16px;
  padding   : 0;

  // .catalog-menu__item
  &__item {
    margin-bottom : 12px;
    // .catalog-menu__item--has-submenu
    &--has-submenu {
    }
  }

  // .catalog-menu__link
  &__link {
    display : block;
    padding : 0 0 0 5px;

    // .catalog-menu__link--active
    &:active,
    &:focus,
    &:hover,
    &--active {
      background-color : #0163aa;
      color            : #fff;
      text-decoration  : none;
    }
  }

  // .catalog-menu__catalog-submenu
  &__catalog-submenu {
  }
}

.catalog-submenu {
  padding : 5px 0 0 12px;

  // .catalog-submenu__item
  &__item {
    margin-bottom : 7px;
  }

  // .catalog-submenu__link
  &__link {
    font-size    : 14px;
    padding-left : 15px;
    display      : block;

    // .catalog-submenu__link--active
    &:active,
    &:focus,
    &:hover,
    &--active {
      background-color : #0163aa;
      color            : #fff;
      text-decoration  : none;
    }
  }
}
