// Font
$mainFont            : 'Montserrat', Helvetica, Arial, sans-serif;

// Size
$mainFontColor       : #020303;
$reverseMainFontColor       : #fff;
$mainFontSize        : 16px;
$mainFontWeight      : 400;
$mainLineHeight      : 1.3;


$desktopGutter       : 15px;

$desktopWidth        : 1010px + $desktopGutter * 2;
$smDesktopWidth      : 980px;
$tableWidth          : 768px;
$phoneWidth          : 480px;
$smPhoneWidth        : 320px;

// Main color
$default-color       : #333;
$primary-color       : #444ce0;
$success-color       : #26de81;
$danger-color        : #fc5c65;
$warning-color       : #fed330;
$light-color         : #999;
$purple-color        : #8854d0;
