// Font
$mainFont            : 'Montserrat', Helvetica, Arial, sans-serif;

// Size
$mainFontColor       : #020303;
$reverseMainFontColor       : #fff;
$mainFontSize        : 16px;
$mainFontWeight      : 400;
$mainLineHeight      : 1.3;


$desktopGutter       : 10px;

$desktopWidth        : 1000px + $desktopGutter;
$smDesktopWidth      : 980px;
$tableWidth          : 768px;
$phoneWidth          : 480px;
$smPhoneWidth        : 320px;

// Main color
$default-color       : #333;
$primary-color       : #444ce0;
$success-color       : #26de81;
$danger-color        : #fc5c65;
$warning-color       : #fed330;
$light-color         : #999;
$purple-color        : #8854d0;

// Neutral Color
$neutral-primary     : #303133;
$neutral-regular     : #606266;
$neutral-secondary   : #909399;
$neutral-placeholder : #c0c4cc;

// Border Color
$border-base         : #dcdfe6;
$border-light        : #e4e7ed;
$border-lighter      : #ebeef5;
$border-lightex      : #f2f6fc;