<% var data = {
title: "Заголовок | Проект",

}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<%= _.template(require('./../includes/breadcrumbs.html').default)(data) %>
<%= _.template(require('./../includes/sidebar.html').default)(data) %>
<div class="product-detail">
    <h1 class="product-detail__title">Картер и кожух полуосей среднего моста</h1>
    <div class="product-detail__images images-product">
        <div class="images-product__main">
            product slider here...
        </div>
        <div class="images-product__thumb">
            Thumb here...
        </div>
    </div>
    <div class="product-detail__info info-product">
        <button class="info-product__add-favorite add-favorite-btn">В избранное</button>
        <div class="info-product__description">
            Картер и кожух полуосей среднего моста (подвеска редуктора среднего первого моста)
        </div>
        <div class="info-product__params params-product">
            <div class="params-product__item item-param">
                <span class="item-param__name">Вес:</span>
                <span class="item-param__value">25 кг</span>
            </div>
            <div class="params-product__item item-param">
                <span class="item-param__name">Материал:</span>
                <span class="item-param__value">Алюминий</span>
            </div>
            <div class="params-product__item item-param">
                <span class="item-param__name">Габаритные размеры:</span>
                <span class="item-param__value">25*25*25 см</span>
            </div>

        </div>
    </div>
    <div class="info-product__links">
        <a href="" class="info-product__guarantee">
            Гарантийные обязательства
        </a>
        <a href="" class="info-product__call-manager">
            Связаться с менеджером
        </a>
    </div>
    <div class="info-product__prices prices-product">
        <div class="prices-product__item prices-product">5 248,23 руб.</div>
        <div class="prices-product__item prices-product prices-product--old">6 000,00 руб.</div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>